<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Lista de Alumnos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <ion-item *ngFor="let alumno of Alumnos" [routerLink]="['/lista-detalles',alumno.Matricula]">
        <ion-img src="assets/imagenes/12.png" alt="" width="30" height="30"></ion-img>
        <ion-label>{{alumno.Nombre}}</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>



  <app-explore-container name="Tab 2 page"></app-explore-container>
</ion-content>
