<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Lista de Alumnos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <ion-item-sliding *ngFor="let alumno of alumnos">



        <ion-item-options side="start" >
          
          <ion-item-option (click)="favorite(item)" color="success"> <ion-icon slot="icon-only" name="heart"></ion-icon> </ion-item-option>
        </ion-item-options>

        <ion-item [routerLink]="['/lista-detalles',alumno.Matricula]">
          <ion-img src="assets/imagenes/12.png" alt="" width="30" height="30"></ion-img>
          <ion-label>{{alumno.nombre}}</ion-label>
        </ion-item>


        <ion-item-options side="end">
          <ion-item-option (click)="unread(item)" color="danger"> <ion-icon slot="icon-only" name="trash"></ion-icon> </ion-item-option>
        </ion-item-options>


      </ion-item-sliding>
    </ion-list>
  </ion-content>



  <app-explore-container name="Tab 2 page"></app-explore-container>
</ion-content>