<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Asistencia de alumnos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Alumnos</ion-title>
    </ion-toolbar>
  </ion-header>

  <div *ngFor="let alumno of alumnoslista">
    <ion-card-content>
      <ion-grid>
        <ion-row>
           <ion-col>
          <ion-row>
            <p>Nombre: </p>
            <p><strong>{{alumno.nombre}}</strong></p>
          </ion-row>
          <ion-row>
            <p>Apellido: </p>
            <p><strong>{{alumno.apellido}}</strong></p>
          </ion-row>
          <ion-row>
            <p>Matricula: </p>
            <p><strong>{{alumno.matricula}}</strong></p>
        </ion-row>
            </ion-col>
       <ion-col ><img src="assets/imagenes/fcfm.png" align ="right" alt="" width="70" height="70"  ></ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </div>
</ion-content>
