<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Tab 1 page"></app-explore-container>

  <ion-grid>
    <ion-row *ngFor="let alumno of Alumnos">
      <ion-col>
        <ion-card>
          <ion-card-content>
            <ion-grid>
              <ion-row>
                <ion-col>
                  <p>Nombre: {{alumno.Nombre}}</p>
                  <p>Apellido: {{alumno.Apellido}}</p>
                  <p>Matricula: {{alumno.Matricula}}</p>

                </ion-col>
                <ion-col class="Alinear">
                  <img src="assets/imagenes/12.png" alt="" width="100">
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>

        </ion-card>
      </ion-col>

    </ion-row>
  </ion-grid>
</ion-content>