<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 3
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Tab 3 page"></app-explore-container>
<form #AgregarA="ngForm" (ngSubmit) = "onSubmit(AgregarA)">
  <ion-grid>
    <ion-row>
      <ion-col size="3">
        Nombre:
      </ion-col>
      <ion-col size="9">
        <ion-input placeholder="Panchito" [(ngModel)]="nombre" name="nombre" class="borde">
          </ion-input>
      </ion-col>
      <ion-col size="3">
        Apellido:
      </ion-col>
      <ion-col size="9">
        <ion-input placeholder="Rodriguez"[(ngModel)]="apellido" name="apellido" class="borde">
          </ion-input>
      </ion-col>
      <ion-col size="3">
        Matricula:
      </ion-col>
      <ion-col size="9">
        <ion-input placeholder="1234" [(ngModel)]="matricula" name="matricula" class="borde">
          </ion-input>
      </ion-col>
      <ion-col size="3">
        <ion-button type="submit">Agregar Alumno</ion-button>
      </ion-col>

    </ion-row>

  </ion-grid>
</form>
</ion-content>
